- @settings = {} unless @settings
:css
  fieldset div{margin: 0; padding: 5px;}
  .tabular.settings label{margin-left: 0; padding: 5px;}
%fieldset
  %legend= l(:label_for_failure_meeting)
  %div
    %label= l(:label_meeting_failure_issue_status)
    = select_tag("settings[failure_issue_status]", options_from_collection_for_select(IssueStatus.all, :id, :name, (@settings[:failure_issue_status] || nil).try(:to_i)), :prompt => t(:prompt_please_select))
%fieldset
  %legend= l(:label_for_meeting)
  %div
    %label= l(:label_account_login)
    = text_field_tag("settings[account_login]", @settings[:account_login])
  %div
    %label= l(:label_account_password)
    = password_field_tag("settings[account_password]", @settings[:account_password])
  %div
    %label= l(:label_fix_time)
    = text_field_tag("settings[fix_time]", @settings[:fix_time])
  %div
    %label= l(:label_hangout_domain)
    = text_field_tag("settings[hangout_domain]", @settings[:hangout_domain])
%fieldset
  %legend= l(:label_for_sms)
  %div
    %label= l(:label_sms_account_login)
    = text_field_tag("settings[account_sms_login]", @settings[:account_sms_login])
  %div
    %label= l(:label_sms_account_password)
    = password_field_tag("settings[account_sms_password]", @settings[:account_sms_password])
  %div
    %label= l(:label_sms_phone)
    = text_field_tag("settings[sms_phone]", @settings[:sms_phone])
%fieldset
  %legend= l(:label_mail_message_text)
  %div.help
    \*
    = l(:help_mail_message_text)
  %div
    = text_area_tag("settings[mail_message_text]", @settings[:mail_message_text])
%fieldset
  %legend= l(:label_calendar_message_text)
  %div.help
    \*
    = l(:help_calendar_message_text)
  %div
    = text_area_tag("settings[calendar_message_text]", @settings[:calendar_message_text])
%fieldset
  %legend= l(:label_sms_text)
  %div.help
    \*
    = l(:help_sms_text)
  %div
    = text_area_tag("settings[sms_text]", @settings[:sms_text])
%fieldset
  %legend= l(:label_online_sms_text)
  %div.help
    \*
    = l(:help_sms_text)
  %div= text_area_tag("settings[sms_online_text]", @settings[:sms_online_text])
%fieldset
  %legend= l(:label_videorecording_settings)
  %p
    %label= l(:label_videorecording_time_fix)
    = text_field_tag("settings[time_fix]", @settings[:time_fix])
  %p
    %label= l(:label_videorecording_timeout)
    = text_field_tag("settings[timeout]", @settings[:timeout])
  %p
    %label= l(:label_videorecording_continue_time)
    = text_field_tag("settings[continue_time]", @settings[:continue_time])
  %p
    %label= l(:label_videorecording_continue_time_notify)
    = text_field_tag("settings[continue_time_notify]", @settings[:continue_time_notify])
%fieldset
  %legend= l(:label_videoserver_settings)
  %div
    %label= l(:label_videoserver_host)
    = text_field_tag("settings[videoserver_host]", @settings[:videoserver_host])
  %div
    %label= l(:label_videoserver_port)
    = text_field_tag("settings[videoserver_port]", @settings[:videoserver_port])
  %div
    %label= l(:videoserver_https)
    = hidden_field_tag("settings[videoserver_https]", "0")
    = check_box_tag("settings[videoserver_https]", "1", @settings[:videoserver_https] == "1")
  %div
    %label= l(:label_videoserver_username)
    = text_field_tag("settings[videoserver_username]", @settings[:videoserver_username])
  %div
    %label= l(:label_videoserver_password)
    = password_field_tag("settings[videoserver_password]", @settings[:videoserver_password])