= link_to l(:mail_online_meeting_title), @meeting_agenda.online_meeting_url

= "#{l(:label_online_meeting_subject)}: #{@meeting_agenda.subject}"
= "#{l(:label_online_meeting_start_time)}: #{(@meeting_agenda.meet_on + @meeting_agenda.start_time.seconds_since_midnight.to_i.second).strftime("%d.%m.%Y %H:%M")}"
= "#{l(:label_online_meeting_end_time)}: #{(@meeting_agenda.meet_on + @meeting_agenda.end_time.seconds_since_midnight.to_i.second).strftime("%d.%m.%Y %H:%M")}"
= "#{l(:label_online_meeting_author)}: #{@meeting_agenda.author.name} (#{@meeting_agenda.author.job_title})"
= "#{l(:label_online_meeting_url)}: #{link_to l(:mail_online_meeting_apply), @meeting_agenda.online_meeting_url}".html_safe
\---
-if Setting[:plugin_redmine_online_meetings][:mail_message_text].present?
  = Setting[:plugin_redmine_online_meetings][:mail_message_text].gsub('{{meet_on}}',@meeting_agenda.meet_on.strftime('%d.%m.%Y')).gsub('{{start_time}}',@meeting_agenda.start_time.strftime('%H:%M')).gsub('{{end_time}}',@meeting_agenda.end_time.strftime('%H:%M')).gsub('{{org}}',@meeting_agenda.meeting_company ? @meeting_agenda.meeting_company.name : '').gsub('{{author}}', @meeting_agenda.author.name)
  \---
= l(:best_reards)
- if @meeting_agenda.meeting_company
  = @meeting_agenda.meeting_company.name
- else
  = t(:default_online_meeting_service_name)